:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #293264;

  background-color: #F5F7FB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}



h1, p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

#root {
  display: block;
  margin-inline: auto;
  padding-block: 1em;
}

.home-screen {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizzical, .score-hist {
  font-size: 31.25px;
  margin-bottom: 0.3em;
  font-weight: 700;
}

.desc {
  margin-bottom: 1.6em;
}

.btn-start {
  width: 12em;
  height: 3.25em;
  background-color: #293264;
  color: #F5F7FB;
  border-radius: 15px;
}

.line {
  border: 2px solid #DBDEF0;
  margin-top: 0.8em;
}

.quiz-card {
  padding-inline: 1em;
  max-width: 22em;
  max-width: 500px;
  display: block;
  margin-block: auto;
}

.quiz {
  padding-block: 1em;
}

.question-title, .quizzical, .scores {
  font-family: 'Karla', sans-serif;
}

.question-title {
  font-weight: 700;
  margin-block: 0.8em;
  text-align: center;
}

.opt-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7em;
}

.opt-parent > button {
  border: 1px solid #4D5B9E;
  border-radius: 7.71px;
  padding-inline: 2em;
  font-size: 10.24px;
  font-weight: 500;
}

.btn-active {
  background-color: #D6DBF5;
}

.btn-inactive {
  background-color: #F5F7FB;
}

#correct {
  background-color: #94D7A2;
}

#incorrect {
  background-color: #F8BCBC;
}

#correct, #incorrect {
  border: none;
}

.score-hist-parent {
  text-align: center;
}

.score-history, .check-ans, .clear-score {
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-size: 10.24px;
  font-weight: 600;
  border-radius: 10px;
}

.clear-score {
  margin-top: 1.5em;
}

.score-check-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
}

.score {
  font-size: 12.8px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
}

.score-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-weight: 500;
}

.score-hist {
  text-align: center;
  margin-bottom: 0.4em;
}
.blob {
  position: absolute;
  z-index: -1;
}
.blob-yellow {
  top: 0;
  right: 0;
}

.blob-blue {
  bottom: 0;
  left: 0;
}